<html>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td style="height:20px; background:#283593;"></td>
        </tr>
        <tr>
            <td valign="top">
                <table width="800" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            <h1 style="font-size:50px; color:#454545; padding-top:40px; text-align:left; font-family:arial;">Invoice</h1>
                        </td>
                        <td align="right"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTB1fyV8d-i_wlND-KjdwxryFCGyyJ3uxN_DuyIb4fGadYRyJkl" border="0" width="200" alt="" /></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td style="height:40px;"></td></tr>
        <tr>
            <td valign="top">
                <table width="800" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            <p style="font-size:14px; color:#454545; text-align:left; font-family:arial; font-weight:bold;">From :</p>
                            <h2 style="font-size:18px; color:#1c71c2; text-align:left; font-family:arial;"> Claribot </h2>
                            <p style="font-size:14px; color:#454545; text-align:left; font-family:arial;"><a href="mailto:eldersindia.com" style="text-decoration:none; color:#454545; font-family:arial;"> claribot@claritaz.com</a></p>
                            <p style="font-size:14px; color:#454545; text-align:left; font-family:arial;"> No 7, 1st Floor, 1st Main Road
                            </p>
                            <p style="font-size:14px; color:#454545; text-align:left; font-family:arial;"> Bethel Nagar, Perungudi, Chennai, Tamil Nadu 600096
                            </p>
                        </td>
                        <td align="right">
                            <p style="font-size:14px; color:#454545; text-align:left; font-family:arial; font-weight:bold;">To :</p>
                            <h2 style="font-size:18px; color:#1c71c2; text-align:left; font-family:arial;">{{invoice.company_name}}</h2>
                            <p style="font-size:14px; color:#454545; text-align:left; font-family:arial;">{{invoice.email}}</p>
                            <p style="font-size:14px; color:#454545; text-align:left; font-family:arial;">{{invoice.contact_person}}
                            </p>
                            <p style="font-size:14px; color:#454545; text-align:left; font-family:arial;">
                                Phone Number: {{invoice.mobile}}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td style="height:20px;"></td></tr>
        <tr>
            <td style="border:1px solid #999;"></td>
        </tr>
        <tr><td style="height:10px;"></td></tr>
        <tr>
            <td>
                <table>
                    <tr><td>
                            <table>
                                    <tr>
                                      <td style="font-size:14px; color:#454545; text-align:left; font-family:arial; font-weight:bold; width:200px;">Invoice Number</td>
                                      <td style="font-size:14px; color:#454545; text-align:left; font-family:arial;">{{invoice.invoice_no}}</td>
                                    </tr>                                    
                                    <tr>
                                            <td style="font-size:14px; color:#454545; text-align:left; font-family:arial; font-weight:bold;">Date</td>
                                            <td style="font-size:14px; color:#454545; text-align:left; font-family:arial; ">{{invoice.created_at}}</td>
                                          </tr>
                                  </table>    
                    </td></tr>
                    <tr><td style="height:10px;"></td></tr>
                    <tr>
                            <td>
                                <table width="800" border="0" cellpadding="0" cellspacing="0">
                                        <thead style="background:#1774c4; height:50px; padding-left:10px; font-size:14px; color:#ffffff; text-align:left; font-family:arial; font-weight:bold;">
                                                <tr>
                                                  <th style="padding-left:20px;text-align:left">Description</th>
                                                  <th>Price</th>
                                                  <th>Qty</th>
                                                  <th style="text-align:right;padding-right:15px">Amount</th>
                                                </tr>
                                              </thead>
                                              <tbody style="font-size:14px; color:#454545; text-align:left; font-family:arial; padding-left:10px;">
                                                    <tr>
                                                      <td style="padding-top:20px; padding-bottom:10px;">{{invoice.package_name}}</td>
                                                      <td style="text-align:center"><span style="font-family: DejaVu Sans; sans-serif;">&#8377;</span> {{invoice.package_price}}</td>
                                                      <td style="text-align:center">1</td>
                                                      <td style="font-weight:bold;text-align:right;padding-right:15px"><span style="font-family: DejaVu Sans; sans-serif;">&#8377;</span> {{invoice.package_price}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="border:1px solid #1c71c2;"></td>
                                                    </tr>
                                                    
                                                    <tr>
                                                      <td style="padding-top:20px; padding-bottom:10px;"></td>
                                                      <td style="text-align:center"><span style="font-family: DejaVu Sans; sans-serif;">&#8377;</span> </td>
                                                      <td style="text-align:center"></td>
                                                      <td style="font-weight:bold;text-align:right;padding-right:15px"><span style="font-family: DejaVu Sans; sans-serif;">&#8377;</span> </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" style="border:1px solid #1c71c2;"></td>
                                                    </tr>
                                                    
                                                  </tbody>
                                                  <tfoot style="font-size:14px; color:#454545; text-align:left; font-family:arial;">
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td style="padding-top:10px; padding-bottom:10px;text-align:right">Gross Amount</td>
                                                            <td style="font-weight:bold;text-align:right;padding-right:15px"><span style="font-family: DejaVu Sans; sans-serif;">&#8377;</span> {{invoice.gross_amount}}</td>
                                                        </tr>
                                                        
                                                        <tr >
                                                            <td></td>
                                                            <td></td>
                                                            <td style="padding-top:10px; padding-bottom:10px;text-align:right">GST</td>
                                                            <td style="font-weight:bold;text-align:right;padding-right:15px"><span style="font-family: DejaVu Sans; sans-serif;">&#8377;</span> {{invoice.tax_gst}} %</td>
                                                        </tr>
                                                       
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td style="padding-top:10px; padding-bottom:10px;text-align:right">Net Amount</td>
                                                            <td style="font-weight:bold;text-align:right;padding-right:15px"><span style="font-family: DejaVu Sans; sans-serif;">&#8377;</span> {{invoice.net_amount}}</td>
                                                        </tr>
                                                  </tfoot>
                                </table>
                            </td>
                        </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="4" style="border:1px solid #1c71c2;"></td>
        </tr>
        <tr>
            <td style="padding:10px; text-align:center;">
                <p style="font-size:14px; color:#454545; font-family:arial;">We would like to thank you for availing services from our platform. Hoping that your experience was good. You can also reach out to us at
                        <a href="mailto:support@claritaz.com" style="text-decoration:none; color:#454545; font-family:arial;">support@claritaz.com</a> or call us at 044 2496 1109 for any concerns, queries or feedback.</p>
            </td>
        </tr>
        <tr>
            <td style="height:10px;"></td>
        </tr>
        <tr>
            <td style="height:20px; background:#283593;"></td>
        </tr>
    </table>
</body>

</html>