
    
    <p>Dear </p>

    <p>Thank you for your interest in applying to Claritaz Bot. You have successfully registered.</p>

    <p>Your login details are as follows:-</p>

    <p>Login ID:    </p>

    <p>Password:	 </p>

    <p>Please save this email and keep it securely. If you need to use the same login details you should verify your account by clicking the below link. </p>

    <a href="" target="_default">Click here to verify</a>
    
    <p>Best Regards,</p>
    <p>Claribot Team</p>

