<p>Hello, {{data.name}} </p>

<p>We have signed up for Claribot (Live Chat) to support our customers visiting our website in real-time.</p>

<p>Please embed the code quoted below into our website's HTML source code. This code must be embedded in all the pages of our website.</p>

<p>Claribot JavaScript Code :  <p>
<p>
    {{data.script_source_code}} </p>

<p>Regards, </p>

<p>Claribot Team </p>

